{% if form.errors %}
  {{form.errors}}
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form method="POST">
  {% csrf_token %}
  <input type="text" name="username">
  <input type="password" name="password">
  <input type="submit" name="Login">
</form>