<p>Logged in as {{request.user}}</p>
<table border="1" style="width:100%">
  <tr>
    <td>User</td>
    <td>Weekly Goals</td>
    <td>Daily Goals</td>
    <td>Verify Goals</td>
    <td>Done Goals</td>
  </tr>

    {% if 'Developer' in request.user.groups.all|stringformat:"s" %}
      {% for user in all_users %}
      <tr>
        <td>{{user.username}}</td>
        
        <td>
            {% for weekly_goal in user.user_goal.all %}
          {% if weekly_goal.goal_status|stringformat:"s" == 'Weekly Goal' %}
          {{weekly_goal.goal_name}} {{weekly_goal.goal_id}}
          {% if request.user == user %} 
          <a href="{% url 'move_goal' goal_id=weekly_goal.goal_id%}">Move Goal</a> 
          {% endif %}<br>
          {% endif %}
          {% endfor %}
        </td>
        <td>
            {% for weekly_goal in user.user_goal.all %}
          {% if weekly_goal.goal_status|stringformat:"s" == 'Daily Goal' %}
          {{weekly_goal.goal_name}} {{weekly_goal.goal_id}} 
          {% if request.user == user %} 
          <a href="{% url 'move_goal' goal_id=weekly_goal.goal_id%}">Move Goal</a> 
          {% endif %}<br>
          {% endif %}
          {% endfor %}
        </td>
        <td>
            {% for weekly_goal in user.user_goal.all %}
          {% if weekly_goal.goal_status|stringformat:"s" == 'Verify Goal' %}
          {{weekly_goal.goal_name}} {{weekly_goal.goal_id}} 
          {% if request.user == user %} 
          <a href="{% url 'move_goal' goal_id=weekly_goal.goal_id%}">Move Goal</a> 
          {% endif %}<br>
          {% endif %}
          {% endfor %}
        </td>
        <td>
          {% for weekly_goal in user.user_goal.all %}
            {% if weekly_goal.goal_status|stringformat:"s" == 'Done Goal' %}
              {{weekly_goal.goal_name}} {{weekly_goal.goal_id}} 
              <br>          
            {% endif %}
          {% endfor %}
        </td>
      
      </tr>
      {% endfor %}
    {% endif %}

    {% if 'Quality Analyst' in request.user.groups.all|stringformat:"s" %}
      {% for user in all_users %}
      <tr>
        <td>{{user.username}}</td>
        <td>
          {% for weekly_goal in user.user_goal.all %}
            {% if weekly_goal.goal_status|stringformat:"s" == 'Weekly Goal' %}
              {{weekly_goal.goal_name}} {{weekly_goal.goal_id}}
              {% if request.user == user %} 
              <a href="{% url 'move_goal' goal_id=weekly_goal.goal_id%}">Move Goal</a> 
              {% endif %}<br>
            {% endif %}
          {% endfor %}
        </td>
        <td>
          {% for weekly_goal in user.user_goal.all %}
            {% if weekly_goal.goal_status|stringformat:"s" == 'Daily Goal' %}
              {{weekly_goal.goal_name}} {{weekly_goal.goal_id}} 
              {% if request.user == user %} 
              <a href="{% url 'move_goal' goal_id=weekly_goal.goal_id%}">Move Goal</a> 
              {% endif %}<br>
            {% endif %}
          {% endfor %}
        </td>
        <td>
          {% for weekly_goal in user.user_goal.all %}
            {% if weekly_goal.goal_status|stringformat:"s" == 'Verify Goal' %}
              {{weekly_goal.goal_name}} {{weekly_goal.goal_id}} 
              <a href="{% url 'move_goal' goal_id=weekly_goal.goal_id %}">Move Goal</a> 
              <br>
            {% endif %}
          {% endfor %}
        </td>
        <td>
          {% for weekly_goal in user.user_goal.all %}
            {% if weekly_goal.goal_status|stringformat:"s" == 'Done Goal' %}
            {{weekly_goal.goal_name}} {{weekly_goal.goal_id}} 
            <a href="{% url 'move_goal' goal_id=weekly_goal.goal_id %}">Move Goal</a> 
            <br>          
            {% endif %}
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    {% endif %}

    {% if 'Owner' in request.user.groups.all|stringformat:"s" %}
      {% for user in all_users %}
      <tr>
        <td>{{user.username}}</td>
        
        <td>
            {% for weekly_goal in user.user_goal.all %}
          {% if weekly_goal.goal_status|stringformat:"s" == 'Weekly Goal' %}
          {{weekly_goal.goal_name}} {{weekly_goal.goal_id}}
          {% if request.user.groups.all|stringformat:"s" == user %} 
          <a href="{% url 'move_goal' goal_id=weekly_goal.goal_id%}">Move Goal</a> 
          {% endif %}<br>
          {% endif %}
          {% endfor %}
        </td>
        <td>
            {% for weekly_goal in user.user_goal.all %}
          {% if weekly_goal.goal_status|stringformat:"s" == 'Daily Goal' %}
          {{weekly_goal.goal_name}} {{weekly_goal.goal_id}} 
          {% if request.user.groups.all|stringformat:"s" == user %} 
          <a href="{% url 'move_goal' goal_id=weekly_goal.goal_id%}">Move Goal</a> 
          {% endif %}<br>
          {% endif %}
          {% endfor %}
        </td>
        <td>
            {% for weekly_goal in user.user_goal.all %}
          {% if weekly_goal.goal_status|stringformat:"s" == 'Verify Goal' %}
          {{weekly_goal.goal_name}} {{weekly_goal.goal_id}} 
          {% if request.user.groups.all|stringformat:"s" == user %} 
          <a href="{% url 'move_goal' goal_id=weekly_goal.goal_id%}">Move Goal</a> 
          {% endif %}<br>
          {% endif %}
          {% endfor %}
        </td>
        <td>
            {% for weekly_goal in user.user_goal.all %}
          {% if weekly_goal.goal_status|stringformat:"s" == 'Done Goal' %}
          {{weekly_goal.goal_name}} {{weekly_goal.goal_id}} 
          {% if request.user.groups.all|stringformat:"s" == user %} 
          <a href="{% url 'move_goal' goal_id=weekly_goal.goal_id%}">Move Goal</a> 
          {% endif %}<br>         
          {% endif %}
          {% endfor %}
        </td>
      
      </tr>
      {% endfor %}
    {% endif %}

    {% if 'Admin' in request.user.groups.all|stringformat:"s" %}
      {% for user in all_users %}
      <tr>
        <td>{{user.username}}</td>
        
        <td>
            {% for weekly_goal in user.user_goal.all %}
          {% if weekly_goal.goal_status|stringformat:"s" == 'Weekly Goal' %}
          {{weekly_goal.goal_name}} {{weekly_goal.goal_id}}
          <a href="{% url 'move_goal' goal_id=weekly_goal.goal_id%}">Move Goal</a> 
          <br>
          {% endif %}
          {% endfor %}
        </td>
        <td>
            {% for weekly_goal in user.user_goal.all %}
          {% if weekly_goal.goal_status|stringformat:"s" == 'Daily Goal' %}
          {{weekly_goal.goal_name}} {{weekly_goal.goal_id}} 
          <a href="{% url 'move_goal' goal_id=weekly_goal.goal_id%}">Move Goal</a> 
          <br>
          {% endif %}
          {% endfor %}
        </td>
        <td>
            {% for weekly_goal in user.user_goal.all %}
          {% if weekly_goal.goal_status|stringformat:"s" == 'Verify Goal' %}
          {{weekly_goal.goal_name}} {{weekly_goal.goal_id}} 
          <a href="{% url 'move_goal' goal_id=weekly_goal.goal_id%}">Move Goal</a> 
          <br>
          {% endif %}
          {% endfor %}
        </td>
        <td>
            {% for weekly_goal in user.user_goal.all %}
          {% if weekly_goal.goal_status|stringformat:"s" == 'Done Goal' %}
          {{weekly_goal.goal_name}} {{weekly_goal.goal_id}}
          <a href="{% url 'move_goal' goal_id=weekly_goal.goal_id%}">Move Goal</a> 
          <br>         
          {% endif %}
          {% endfor %}
        </td>
      
      </tr>
      {% endfor %}
    {% endif %}
  
</table>
{{set}}
<a href="{% url 'add_goal' %}">Add Goal</a>